<html>

<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>

<!-- Navbar -->  
<app-navbar></app-navbar>
  
      
<!--Titulo -->
  <strong><h1 class="titulo">Anuncios</h1></strong> 



<!--Permiso de vista para Usuarios-->
<ng-template [ngIf]="data != '1' && data != '4'">
  <!-- contendor de anuncios-->
  <form [formGroup]="FormActualizar" (ngSubmit)="anuncioVisto(FormActualizar.value)">
<div class="contenedor">            
  
  <!---Lista de anuncios-->
  <tbody>

    <tr *ngFor="let mensaje of mensajes">
     <td><h4><u  style="color:#08A75A" class="list-group-item"><i class="fa fa-bullhorn" aria-hidden="true"></i> {{mensaje.anu_titulo}}:</u></h4>
      <u class="list-group-item">{{mensaje.anu_mensaje}} </u>
      <u class="list-group-item" > <i class="fa fa-calendar" aria-hidden="true"></i>{{mensaje.anu_fecha_modif}}
      <select class="custom-select" formControlName="anuncio_id" required="required">
        <option selected value="">No leido</option>
        <option value="{{mensaje.anu_id}}">Leido</option>
      </select>
      <button class="btn btn-outline-primary"  id="boton" type="submit">Confirmar</button>
    </u>
      <br>
     </td>
    </tr>
  </tbody>
    </div>
  <!--Boton de Aceptar-->
<!--<button class="btn btn-lg btn-success"  id="boton" type="submit">Aceptar</button>-->
  </form>
</ng-template>


<!--Permiso de vista para Administradores-->
<ng-template [ngIf]="data == '1' || data == '4'" >
  <form [formGroup]="Form" (ngSubmit)="crearAnuncio(Form.value)">
    <main class="form">
    <div class="container-bg-transparent">

      <!--Input de titulo del anuncio-->
        <input type="text" class="form-control" maxlength="255" formControlName="anu_titulo" id="floatingInput"  required="required" placeholder="Titulo" required="required">
        <br>

      <!--Contenido del anuncio-->
        <textarea style="height: 250px;" maxlength="500" class="form-control" formControlName="anu_mensaje"  required="required" placeholder="Contenido" id="exampleFormControlTextarea1" rows="10"></textarea>
        <br>

    <br>

  <!--Checkbox de los departamentos-->
<div>
    <a>Departamento:    </a>
    <select class="custom-select" formControlName="id" required="required">
      <option selected value="0">Todos los departamentos</option>
      <option  value="1">Direccion</option>
      <option  value="2">Operaciones</option>
      <option  value="3">Recursos Humanos</option>
      <option  value="4">Administración y Finanzas</option>
      <option  value="5">Tecnología Informática</option>
      <option  value="6">Comercialización</option>
      <option  value="7">Mantenimiento</option>
      <option  value="8">Servicio al Pasajero</option>
      <option  value="9">Despacho de Vuelos</option>
      <option  value="10">Seguridad y Salud en el Trabajo</option>
      <option  value="11">Capacitacion y Desarrollo</option>
      <option  value="12">Seguridad Operacional</option>
      <option  value="13">Organizacion y Metodos</option>
      <option  value="14">Gestion de la Calidad</option>
      <option  value="15">Gestion y Recaudación de Cobros y Pagos</option>
    </select>
    </div>

    </div>

  <!--Boton de Enviar-->
    <button class="btn btn-lg btn-success"  data-bs-toggle="modal" data-bs-target="#exampleModal"  id="boton" type="submit">Enviar<i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    </main>
    </form>
    <!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
 Notificación
</button>-->


<!-- Ventana Modal para las notoficaciones -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"  role="document">
    <div class="modal-content" style="text-align:center; " >
     <div class="modal-header" style=" text-align: center;">
       <strong><h5 class="modal-title" style="text-align: center;" id="exampleModalLabel"></h5></strong>
      </div>
      <div class="modal-body">
        Su anuncio: <strong>"{{Form.value.anu_titulo}}"</strong>, ha sido enviado <br>
        ¿Desea enviar otro anuncio?
      </div>
      <div class="modal-footer" style="justify-content:center; text-align: center; ">
        <button type="button" class="btn btn-outline-success" (click)="refresh()"  data-bs-dismiss="modal">Si</button>
        <button type="button" class="btn btn-outline-danger" routerLink="/home"  data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>  
</ng-template>

</body>
