<div class="container-fluid" id="htmlData">
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-7 ">
                    <br>
                    <br>
                    <p class="pInfoIva">
                        <b>
                        Decreto con Rango, Valor y Fuerza de Ley
                        de Reforma de Ley de Impuesto al Valor Agregado
                        </b>
                    </p>
        
        
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text-center pInfoIva">
                        <b>    
                            N° 1436 del 17 de noviembre de 2014
                        </b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p class="pInfoIva2">
                        <b>    
                            (Ley de IVA - Art. 11: "La administración Tributaria 
                            podrá designar como responsables del pago del impuesto 
                            en calidad    
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <div class="col">


        </div>

        <div class="col">

        </div>
    </div>

</div>