



<html>

<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>

<!-- Navbar -->  
<app-navbar></app-navbar>
  

    <!--Titulo -->
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="container">
  <div class="row">
    <h1 class="titulo">Facturas cliente: {{facturas[0].clienteDesc | titlecase }} </h1>
  </div>
</div>



    <br>

 
  <div class="container-fluid ">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 main-content">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Número</th>
                <th scope="col">Fecha emisión</th>
                <th scope="col">Fecha vencimiento</th>
                <th scope="col">Fecha registro</th>
                <th scope="col">N° control</th>
                <th scope="col">Monto total</th>
                <th scope="col">Condición de pago</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let factura of facturas; index as i">
              <tr>

                <!--<th scope="row">{{i+1}}</th>--> 
                <td>{{factura.fac_doc_num}}</td>
                <td>{{factura.fac_fecha_emi | date:'dd/MM/yy'}}</td>
                <td>{{factura.fac_fecha_venc | date:'dd/MM/yy'}}</td>
                <td>{{factura.fac_fecha_reg | date:'dd/MM/yy'}}</td>
                <td>{{factura.fac_num_control}}</td>
                <td>{{factura.fac_monto_total | number}} BsS.</td>
                <td>{{factura.condicionPagoDesc}}</td>
                <td><a href="facturas/detalle/{{factura.fac_doc_num}}">Detalle</a></td>
              </tr>
          </table>
        </div>

        <div class="col-1"></div>

  </div>
</div>


  </body>

