



<html>

<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>

<!-- Navbar -->  
  <app-navbar></app-navbar>
  

    <!--Titulo -->
    <br>
    <br>
    <br>
    <br>
    <br>

  
    
        <div class="container" *ngIf="datosCargados && data!=='1'; else dataEmpleado">
          <div class="row">
            <h1 class="titulo">Facturas cliente: {{facturas[0].clienteDesc | titlecase }} </h1>
          </div>
        </div>
        <ng-template #dataEmpleado >
          <div class="row">
          <h1>Facturas de venta</h1>
          </div>
        </ng-template>

            <br>
          <div class="container-fluid ">
            <div class="row">
      
              <div class="col main-content">

    <ng-template [ngIf]=errorStatus>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <span type="button" class="close" data-bs-dismiss="alert" aria-label="Close" style="font-size: 25px;"><span aria-hidden="true">&times;</span></span>
        <b>{{errorMensaje}} </b>
      </div>
    </ng-template>

    <ng-template [ngIf]="datosCargados">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                      <tr>
                        <th *ngIf="data === '1'">Cliente</th>
                        <th scope="col">Número</th>
                        <th scope="col">Fecha emisión</th>
                        <th scope="col">Fecha vencimiento</th>
                        <th scope="col">Fecha registro</th>
                        <th scope="col">N° control</th>
                        <th scope="col">Monto total</th>
                        <th scope="col">Condición de pago</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let factura of facturas | slice: (page-1) * pageSize : page * pageSize">
                      <tr>
                        <td *ngIf="data  === '1'">{{factura.clienteDesc | titlecase}}</td>
                        <td>{{factura.fac_doc_num}}</td>
                        <td>{{factura.fac_fecha_emi | date:'dd/MM/yy'}}</td>
                        <td>{{factura.fac_fecha_venc | date:'dd/MM/yy'}}</td>
                        <td>{{factura.fac_fecha_reg | date:'dd/MM/yy'}}</td>
                        <td>{{factura.fac_num_control}}</td>
                        <td>{{factura.fac_monto_total | number}} BsS.</td>
                        <td>{{factura.condicionPagoDesc}}</td>
                        <td><a href="facturas/detalle/{{factura.fac_doc_num}}">Detalle</a></td>
                      </tr>
                  </table>


    </ng-template>
                </div>
              

                <ng-template [ngIf]="datosCargados">
                  <div class="d-flex justify-content-center" nfIf>
                    <ngb-pagination
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="facturas.length"></ngb-pagination>
                </div>
                </ng-template>

          </div>
        </div>

  </body>

