<html>

<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>

<!-- Navbar -->  
<app-navbar></app-navbar>
  
      
<!--Titulo -->
<strong><h1 class="titulo">Recibos de Pagos</h1></strong> 

<div class="contenedor">
    <table class="table table-bordered table-hover border-success text-center">
        <thead>
        <tr>
            <th scope="col" >N° de recibo</th>
            <th scope="col">Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let recibo of recibos | paginate: { itemsPerPage: 20, currentPage: paginaActual }" (click)="onClick(recibo.reci_num)">
            <th scope="row">{{recibo.reci_num}}</th>
            <td>{{recibo.date}}</td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls 
            (pageChange)="paginaActual = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
        >
        </pagination-controls>
    </div>
</div>
</body>
