body {
    padding-top: 10%;
    padding-bottom: 13.5%;
    background-color: #FFFFFF;
    font-family: FontAwesome, Verdana, Arial, Helvetica, sans-serif;
  }
  
  .titulo{
    color :  #08A75A;
    text-align:center;
    margin-bottom: 0.5%
  }

  .contenedor{
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px solid #08A75A;
    border-radius: 1em;
    max-width: 1200px;
    margin-bottom: 60px;
    position :relative !important; 
    left: 20% !important;
  }

.container-bg-transparent{
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 844px;
    margin-bottom: 60px;
    position :relative !important; 
    left: 28% !important;
}


.form-floating:focus-within {
    z-index: 2;
  }

.form-control{
    margin-bottom: -1px;
    border-radius: 1em;
    background-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-color: #08A75A;
    height: 55px;
  }

  .btn-success {
    margin-bottom: 10px;
    border-radius: 20em;
    height: 50px;
    width: 20%;
    background-color: #08A75A;
    margin-left: 40%;
  }

  .btn-outline-primary {
    margin-left: 1em;
  }

  i{
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
    }

.custom-select{
    margin-bottom: 0px;
    border-radius: 0.5em;
    height: 30px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #08A75A;
    border-width: 2px;
    color: #4D4E56;
  }

u{
  width:20cm;
  border-color: #FFFFFF;

}

.form-check-input{
  align-items: flex-end;
  margin-left: 1em;
}